<!-- <h1>Donut Shop</h1> -->
 <!-- <app-donut-list></app-donut-list>  -->
<!-- <app-donut-details></app-donut-details> -->


<header>
  <h1>Donut Shop</h1>
  <nav>
    <ul>
      <!-- the "active" class is added when the current URL matches a link -->
      <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">Donut List</a></li>
      <!-- <li><a routerLink="deck" routerLinkActive="active" ariaCurrentWhenActive="page">My Deck</a></li> -->
    </ul>
  </nav>
  </header>
  
  
  <router-outlet></router-outlet>